[Desktop Entry]
Type=Application
Version=1.0
Name=IOMeeter
Comment=Start IOMeeter with the desktop session
Exec=@DATA@/autostart.sh
Path=@DATA@
Icon=iomeeter
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
StartupNotify=false
